body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.40);
}

header {
    width: 940px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.logo {
    display: block;
    width: 176px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px
}

.navigation-list a {
    color: #FFF;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-list li:nth-child(4) {
    margin-right: 24px;
}

.navigation-list .active {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.30);
    text-underline-offset: 14px;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

main {
    width: 800px;
    margin: 0 auto;
    background-color: #FFF;
}

.wrapper-article-image {
    position: relative;
}

.wrapper-article-image h2 {
    color: #FFF;
    font-size: 28px;
    line-height: 35px;
    position: absolute;
    top: 220px;
    left: 60px;
}

.wrapper-article-image .article-marker {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #FFF;
    font-size: 8px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30%/70%;
    background-color: rgba(0, 0, 0, 0.20);
    padding: 0 10px;
}

.wrapper-paragraph {
    padding: 35px 60px;
}

.wrapper-paragraph p {
    color: #333;
    font-family: Lato;
    font-size: 18px;
    line-height: 25px;
}

.wrapper-paragraph a {
    color: #8D4FDB;
    font-family: Lato;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;
}

.call-to-action {
    background-color: #F1F1F1;
    padding: 49px 250px 60px 250px;
}

.call-to-action span {
    display: block;
    color: #333;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 21px;
}

.call-to-action a {
    display: block;
    margin: 0 auto;
    padding: 8px 25px;
    width: 157px;
    border-radius: 3px;
    background-color: #8D4FDB;
    color: #FFF;
    font-size: 10px;
    text-align: center;
    line-height: 30px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    margin-top: 99px;
    width: 100%;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-info {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer span {
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
}

.copyright {
    color: #8B8B8B;
}

.powered-by {
    color: #8B8B8B;
}

footer a {
    text-decoration: none;
}